<!DOCTYPE html>
<html>
  <head>
    <div class="container">
    <meta charset='utf-8'>
    <title>package-results</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>After much consideration, Larry has decided that it costs $ @Model.GetCost() to send your package.</h1>
      <h2>Thanks again for choosing Larry's!</h2>
  </div>
  </body>
</html>
